.header-container {
	height: auto;

}
.navigation-menu {
	margin: 0;
	padding: 0;
	background-color: none;
}
.menu-main-menu-container > ul > li > a {
	padding: 0 0 0 0;
	margin: 0 10px 5px 0;
}
.menu-main-menu-container > ul > li > a:hover {
	color: #6495ED;
	background-color: transparent;
	padding: 0 0 0 0;
	margin: 0 10px 5px 0;
	text-decoration: underline;
	
}
.main-container {
	padding-top: 30px;
}
.about-container {
	width: 100%;
	margin: 0;
}
.about-img-size {
	width: 100;
	margin: 0;
	padding: 0;
}
.enviroment-container {
	width: 100%;
}
.img-size  {
	margin-right: 0;
}
footer {
	height: auto;
}
.contact {
	font-size: 0.6em;
}
.contact1 {
	margin-right: 0;
	margin-left: 3em;
}
.contact2 {
	margin-right: 0;
	margin-left: 0;
}

/*********************************
		CONTACT US PAGE
*********************************/
.contact-person {
	width: 100%;
}
.company-contact-field > h2 {
	margin-left: 0;
}
.contact-form-7-field {
	width: 100%;
	padding: 0;
	margin: 0;
	
}
.contact-form-7-field > h2 {
	padding: 0;
	margin-left: 0;
	
}
.contact-form-7 {
	width: 98%;
}
.wpcf7-form {
	margin: 0;
}
.wpcf7 input[type="text"], 
.wpcf7 input[type="email"],
.wpcf7 textarea {
    width: 100%;
}
.company-contact {
	margin: 1em 4em 0 0;
}
/*****************************
	SKÄRGÅRDS POSTFLOW PAGE
*****************************/
.skargard-content {
	width: 100%;
}
.skargard-img {
	width: 270px;
	// height: auto;
}
.skargard-content > a > p {
	width: 270px;
}
/****************************
	PAGE SINGLE(PHP) POST
****************************/
.single-content-container {
	width: 100%;
}
.single-content-img > img {
	width: 100%;
}
/****************************
	PAGE 404
****************************/
